/*mypage*/

.mypage .profile #header { margin-bottom: 0;}
.mypage .profile .my-profile { background: #c10707; position: relative; height: 140px; margin-bottom: 20px;}
.mypage .profile .my-profile .profile-img {position: absolute; width: 80px; height: 80px; top:0; left:50%; margin-left: -40px; border-radius: 100px;-moz-border-radius: 100px;-webkit-border-radius: 100px;-o-border-radius: 100px;}
.mypage .profile.logout .my-profile { height: 110px;}
.mypage .profile .my-profile .following,
.mypage .profile .my-profile .follower { float:left; width: 50%; text-align: center; font-size: 12px; color: #bcbcbc; display: block; box-sizing:border-box; -moz-box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box; padding-top:20px;}
.mypage .profile .my-profile .following { padding-right: 40px;}
.mypage .profile .my-profile .follower { padding-left:40px;}
.mypage .profile .my-profile .following strong,
.mypage .profile .my-profile .follower strong { display: block; font-size: 23px; color: #fff; font-weight: bold;}
.mypage .profile .my-profile .actions { position:absolute; padding: 0;
    margin: 0 0 0 -65px;
    list-style: none; bottom:26px; left:50%; text-align: center;}
.mypage .profile .my-profile .actions li { display: block; margin:2px; float:left;}
.mypage .profile .my-profile .actions li a .icon { width: 22px; height: 22px;}
.mypage .profile .my-profile .actions li a { display: block; width: 22px; height: 22px; background: #a20000; border-radius: 100px; -moz-border-radius: 100px;-webkit-border-radius: 100px;-o-border-radius: 100px; color: #fff; text-decoration: none; text-align: center;font-size: 8px; line-height: 22px; font-weight: bold;}
.mypage .profile .my-profile .grade { position: absolute; width: 100%; bottom:-13px; height: 26px; text-align: center;}
.mypage .profile .my-profile .grade .yellow { display: inline-block; line-height: 26px; padding:0 20px; background: #ffbd0a; font-size: 10px; color: #fff; font-weight: bold; border-radius: 100px; -moz-border-radius: 100px; -webkit-border-radius: 100px; -o-border-radius: 100px; text-decoration: none; color: #fff !important;  }
.mypage .profile .my-profile-meta {padding: 0; margin: 0; list-style: none;}
.mypage .profile .my-profile-meta li { float:left; width: 25%; position: relative;}
.mypage .profile .my-profile-meta li i { background:url(../img/icons-mypage.png) no-repeat; background-size: auto 60px; display: block; padding-top:60px; text-align: center; width: 60px; height: 16px; position: relative; left:50%; margin-left: -30px; font-style: normal; font-size: 10px; color: #a6a9ac;}
.mypage .profile .my-profile-meta li i.icon-wish { background-position: 0 0;}
.mypage .profile .my-profile-meta li i.icon-coupon { background-position: -60px 0;}
.mypage .profile .my-profile-meta li i.icon-mileage { background-position: -120px 0;}
.mypage .profile .my-profile-meta li i.icon-deposit { background-position: -180px 0;}
.mypage .profile .my-profile-meta li strong {text-align: center; display: block; font-weight: bold; color: #dc0d0d; font-size: 14px;}

.mypage .profile .mypage-menu { background: #f7f7f7; padding: 0 10px; margin: 0; list-style: none;}
.mypage .profile .mypage-menu li { height: 50px; border-bottom: 1px solid #ebebec; background: url(../img/icon-arrow-go.png) 100% 50% no-repeat; background-size: 15px auto;}
.mypage .profile .mypage-menu li a { display: block; line-height: 50px; text-decoration: none; color: #696969; font-size: 12px; position: relative; text-indent: 40px;}

.mypage .profile .mypage-menu li i { background:url(../img/icon-mypage-menu.png) no-repeat; background-size: 40px auto; display: block; position: absolute; width: 40px; height: 40px; left:0; top:50%; margin-top: -20px; }


.mypage .profile .mypage-menu li:nth-child(1) i {background-position: 0 0;}
.mypage .profile .mypage-menu li:nth-child(2) i {background-position: 0 -40px;}
.mypage .profile .mypage-menu li:nth-child(3) i {background-position: 0 -80px;}
.mypage .profile .mypage-menu li:nth-child(4) i {background-position: 0 -120px;}
.mypage .profile .mypage-menu li:nth-child(5) i {background-position: 0 -160px;}
.mypage .profile .mypage-menu li:nth-child(6) i {background-position: 0 -200px;}
.mypage .profile .mypage-menu li:nth-child(7) i {background-position: 0 -240px;}
.mypage .profile .mypage-menu li:nth-child(8) i {background-position: 0 -280px;}
.mypage .profile .mypage-menu li:nth-child(9) i {background-position: 0 -320px;}

.mypage .btn-kakao-auth { color: #fff313; background: #4e3a33;}

.mypage .sns { padding: 0; margin: 10px; display: block; text-align: center;}
.mypage .sns li  {display: inline-block; margin: 2px;}
.mypage .sns li a { display: block; width: 50px; height: 50px; background: url(../img/icon-sns.png) no-repeat 50% 50%; background-size: auto 50px; text-indent: -999em; font-size: 0; color: rgba(0,0,0,0)}
.mypage .sns li a.facebook{ background-position: 0 0;}
.mypage .sns li a.twitter{ background-position: -50px 0;}
.mypage .sns li a.pinterest{ background-position: -100px 0;}

.member-grade .txt-list li { font-size: 12px; margin-bottom: 5px;}

.my-profile { position: relative;}
.profile-pic {position: absolute; width: 80px; height: 80px; top:0; left:50%; margin-left: -40px; border-radius: 100px;-moz-border-radius: 100px;-webkit-border-radius: 100px;-o-border-radius: 100px;}

.process.kakao li:nth-child(1) {width: 35%;}
.process.kakao li:nth-child(2) {width: 40%;}
.process.kakao li:nth-child(3) {width: 25%;}

.kakao-friend { background: #fff200 url(../img/kakao-friend.png) no-repeat; background-size: auto 38px; line-height: 38px; text-align: right; padding: 0 10px; font-size: 12px; color: #000;}
.kakao-friend .icon-lock { background: url(../img/icon-lock2.png) 50% 50%; background-size: 16px 16px; width: 16px; height: 16px; display: inline-block; vertical-align: middle; margin-right: 2px;}

.coupon-box { margin-bottom: 10px; border-radius: 12px;-moz-border-radius: 12px;-webkit-border-radius: 12px;-o-border-radius: 12px; border:1px solid #f0f0f0; overflow: hidden;}
.coupon-box .gutter { padding: 10px;}
.coupon-box p { margin: 0; }
.coupon-box p.amount {font-size: 24px; color: #c10707; line-height: 24px;margin-bottom: 5px;}
.coupon-box p.amount strong  {color: #c10707}
.coupon-box p.amount .unit { font-size: 22px;}
.coupon-box p.desc { color:#000;}
.coupon-box .condition { background: #f6f6f6; padding: 10px;color: #696969; font-size: 12px;}
.coupon-box p.terms {color:#dc0d0d;}

.selected-photos { padding: 0;
    list-style: none;
    margin: 0 0 10px;
}
.selected-photos li { float:left; width:100px; height: 100px; margin-right: 10px; position: relative; overflow: hidden; }
.selected-photos li img { width: 100%; height: auto; display: block; position: relative;}
.selected-photos li .btn-delete { position: absolute; background: url(../img/icon-delete.png) no-repeat 50% 50%; background-size: 30px auto; text-indent: -999em; font-size: 0; width: 30px; height: 30px; display: block; top:4px; right: 4px;}

ul.files li { margin-bottom: 5px;}
.rating { border-radius: 12px;-moz-border-radius: 12px;-webkit-border-radius: 12px;-o-border-radius: 12px; border:1px solid #f0f0f0; background:#fff; padding: 20px; color: #d5d5d5;}
.rating.no-border { border: 0; padding: 10px 20px 20px 20px}
.rating .stars { margin-bottom: 5px; }
/* 20140625 SYS JYM º°Á¡ */
/*.rating .stars a {text-decoration: none; color: #d5d5d5; font-size: 40px; }
.rating .stars a.active { color: #dc0d0d;}*/
.rating .stars a {display:inline-block; width:30px; height:33px; margin:0 5px; background-image:url(../img/ico-star.png); background-position:100% 0; background-repeat:no-repeat; background-size:83px 33px; color:#d5d5d5; font-size:40px; text-indent:-999em; text-decoration: none;}
.rating .stars a.active {background-position:0 100%; color: #dc0d0d;}


.inquiry-list .q,
.inquiry-list .a {position: relative; padding:20px 10px; min-height: 60px; border-top:1px solid #e9eaf1;}
.inquiry-list .a { min-height: 44px;}
.inquiry-list .q { border-top:0;}
.inquiry-list .qna-box .qna-type { top:20px;}
.inquiry-list .a,
.inquiry-list .rating {background: #f2f2f2; border-radius:0; -webkit-border-radius:0;-moz-border-radius:0;border-top:1px solid #e9eaf1;}
.inquiry-list .rating .btn-rating { margin:10px auto 0 auto; width: 200px; display: block;}
.address-list {margin: 0;padding: 0; list-style: none;}
.address-list .bordered-box { position: relative;}
.address-list .bordered-box .address-title { position: absolute; top:0; bottom:0; left:0; width: 60px; text-align: center; padding: 20px; vertical-align: middle; background:#f0f0f0; color: #000; font-size: 12px;}
.address-list .bordered-box .address-info { margin-left:100px; padding: 10px;}
.address-list .bordered-box .address-info p { font-size: 11px;
    line-height: 14px;
    margin: 0 0 2px;
}
.address-list .bordered-box .address-info .actions {margin-top:10px;}
.address-list .bordered-box .address-info .actions .btn { width: 80px;}

/*modals*/
#modalChangeProfilePic .my-profile { margin: 10px; height: 80px;}
.profile-pic-list {
    padding: 0; list-style: none;
    margin: 0;
}
.profile-pic-list li { float:left; width:25%;  }
.profile-pic-list li label { margin: 3px; display: block; position: relative;}
.profile-pic-list li img {  width: 100%; height: auto; display: block;}
.profile-pic-list input[type="radio"] { position: absolute; right: 5px; top:5px;}

.find-zipcode .find-zipcode-form {background: #f6f6f6 ; padding: 10px;}
.find-zipcode .list li label { padding: 15px; display: block; line-height: 12px; font-size: 12px; }
.find-zipcode .list li label .zipcode { margin: 0 10px;}

#modalFindZipcode .modal-body{ }
