.brandstreet-header { background: #ededed; padding: 4px 10px; margin-top:-20px; height: 28px; margin-bottom: 15px;}
.brandstreet-header h2 { font-size: 12px; line-height: 28px; margin: 0; padding: 0;}

.recommended-product.product-list li .product .product-spec .product-brand { font-size: 14px;}
.recommended-product.product-list li .product .product-spec .product-name { font-size: 18px;}

.category-filter-container h2 { background: #ededed; font-size: 12px; color: #696969; padding: 12px; line-height: 12px;}

.category-filter-container ul li { width: 16.6666667%; float:left; text-align: center; padding: 10px 0;}
.category-filter-container ul li a { display: inline-block; text-decoration: none; width: 40px; height: 40px; line-height: 40px; font-size: 16px; color: #3a3a3a; }
/*.category-filter-container ul li.active a,*/
.category-filter-container ul li a:hover,
.category-filter-container ul li a:active { background-color: #dc0d0d; color: #fff; border-radius: 100px;}
 { background-color: #dc0d0d; color: #fff; border-radius: 100px;}

 .matched-product-list {margin: 10px;}
 .matched-product-list li { width: 25%; float:left;}
 .matched-product-list li a { display: block; }
 .matched-product-list li a img { display: block; width: 100%; height: auto;}

.brand-story .brand-name { font-size: 14px; font-weight: bold;}
.brand-story .slogan { font-size: 14px; font-weight: bold; padding: 4px;  }
.brand-story .story { font-size: 12px; line-height: 16px; padding: 4px; margin-bottom: 20px;}

.brand-tag h2 {position: relative;background:url(../img/brand-tag-title-head.png) no-repeat 0 0; background-size: 14px auto; height: 19px;}
.brand-tag h2 .label { font-size: 11px; color: #fff; border-radius: 0 12px 12px 0; padding: 0 19px 0 4px; line-height: 19px; background-color: #a5a5a5; font-weight: normal; text-transform: uppercase; display: inline-block; position: absolute; left:14px; top:0;}
.brand-tag h2:after { content:''; display: block; border-top:1px solid #e8e8e8; position: absolute; left:110px; right: 0;top:50%; margin-top:1px; }
.brand-tag .tag-list {padding: 10px 0;}
.brand-tag .tag-list li { display: inline-block; margin:4px 6px 4px 0;}
.brand-tag .tag-list li a { display: block; border-radius: 20px; background-color: #696969; padding: 0 20px; line-height: 28px; font-size: 12px; color: #fff; text-decoration: none;}


.brand-groups .two-inputs { margin:0px 3px 0 3px;}


/*brand-detail*/

.brand-detail-header  { padding: 10px; position: relative;}
.brand-detail-header h1 { font-size: 14px; color: #fff; font-weight: normal; line-height: 18px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; margin-right: 100px;}
.brand-detail-header h1 span { display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.brand-detail-header h1 span.eng { font-size: 15px;}
.brand-detail-header h1 span.kor { font-size: 14px;}

.brand-detail-header .pick { position: absolute; top:10px; right: 10px; border-radius: 100px; border:3px solid #940000;  padding: 0 16px 0 8px; text-decoration: none; line-height: 26px; font-size: 12px; color: #650000;}
.brand-detail-header .pick i { background:url(../img/icon-pick-star.png) no-repeat; width: 20px; height: 20px; background-size: 21px auto; display: block; float:left; vertical-align: middle; margin-right: 5px; margin-top:1px;}
.brand-detail-header .pick.picked {border:3px solid #ff8788; color: #fff;}
.brand-detail-header .pick.picked i { background-position: 0 -21px;}
.brand-banner {height: 60px; width: 100%; background-size: cover; background-position: 50% 50%; position: relative;}
.brand-banner .btn-my-wish {border-radius: 100px; border:3px solid #fff; padding: 0 16px 0 30px; color: #fff; font-size: 12px; line-height: 26px; display: block; text-decoration: none; position: absolute; top:14px; left: 10px; background:url(../img/icon-chain.png) 10px 50% no-repeat; background-size: 15px auto;}
.brand-banner .total-product-count { position: absolute; right: 20px; top:10px; color: #fff; text-align: center; font-size:12px;}
.brand-banner .total-product-count strong { font-size: 20px; display: block; color: #fff;}
@media only screen and (min-width : 480px) {
	/*style*/
	.category-filter-container ul li {width: 12.5%;}
}


@media only screen and (min-width : 640px) {
	/*style*/
	.category-filter-container ul li {width: 10%;}
	.matched-product-list li { width:20%;}
}

